/* src/styles/csspages.css */

.container {
  display: flex;
  flex-direction: row; /* Aligns the navigation and content side by side */
  width: 100%; /* Ensures the container takes up the full width of the page */
}

.content {
  margin-left: 240px; /* Matches the width of the Navigation sidebar */
  padding: 2rem;
  flex-grow: 1; /* Allows the content area to expand to fill available space */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

h1,
h2 {
  margin-bottom: 1.5rem; /* Adds space below the heading */
  font-size: 2rem;
  color: #333; /* Text color for the heading */
}

h3 {
  margin-left: 10px;
}

p {
  color: rgb(0, 0, 0); /* Error message color */
  font-weight: bold;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Removes the gap between table borders */
  margin-top: 1rem; /* Adds space above the table */
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.8rem;
  text-align: left;
  vertical-align: middle; /* Centers the content vertically */
}

th {
  background-color: #f4f4f4; /* Light background for table headers */
  font-weight: bold; /* Makes the header text bold */
}

td img {
  max-width: 100px; /* Limits the image width */
  height: auto; /* Maintains the aspect ratio */
}

/* Add button styles for reuse */

.save-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.save-button:hover {
  background-color: #1a6a2d;
  transform: scale(1.05);
}

.cancel-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #dc0f0ff0;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cancel-button:hover {
  background-color: #960000;
  transform: scale(1.05);
}

.update-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.update-button:hover {
  background-color: #004288;
  transform: scale(1.05);
}

.add-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #dc3545 !important;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

.close-button:hover {
  background-color: #c82333;
}

.add-customer-box {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  width: 50%; /* Set the width to 50% */
  box-sizing: border-box; /* Ensure padding is included in the width */
  position: relative; /* Add this for positioning close button */
}

.add-customer-box form div {
  margin-bottom: 10px;
}

.add-customer-box form input {
  width: 100%;
  padding: 8px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-customer-box form label {
  margin-left: 10px;
}

.add-customer-box form button:hover {
  background-color: #0056b3;
}

.add-customer-button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.add-customer-button:hover {
  background-color: #0056b3;
}

.add-user-box {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  width: 50%; /* Set the width to 50% */
  box-sizing: border-box; /* Ensure padding is included in the width */
  position: relative; /* Add this for positioning close button */
}

.add-user-box form div {
  margin-bottom: 10px;
}

.add-user-box form input {
  width: 100%;
  padding: 8px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-user-box form label {
  margin-left: 10px;
}

.add-user-box form button:hover {
  background-color: #0056b3;
}

.add-user-button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.add-user-button:hover {
  background-color: #0056b3;
}

.add-service-box {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  width: 50%; /* Set the width to 50% */
  box-sizing: border-box; /* Ensure padding is included in the width */
  position: relative; /* Add this for positioning close button */
}

.add-service-box form div {
  margin-bottom: 10px;
}

.add-service-box form input {
  width: 100%;
  padding: 8px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-service-box form label {
  margin-left: 10px;
}

.add-service-box form button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.add-service-box form button:hover {
  background-color: #0056b3;
}

.add-service-box form button[type="button"] {
  background-color: #f44336; /* Red for the close button */
  margin-left: 10px;
}

.search-input {
  width: 30% !important; /* Updated width for the search input */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.service-icon-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  display: grid; /* Use grid layout instead of flex */
  grid-template-columns: repeat(7, 1fr); /* Create 3 equal-width columns */
  gap: 10px; /* Space between items */
}

.service-icon-item {
  border: 1px solid #c82333; /* Optional: Border for each item */
  border-radius: 10px; /* Optional: Rounded corners */
  padding: 15px; /* Optional: Padding inside each item */
  background-color: #f9f9f9; /* Optional: Background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Shadow effect */
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the logo horizontally */
  border: 1px solid #ccc;
  border-radius: 10px; /* Rounded corners */
  padding: 15px;
  background-color: #f9f9f9; /* Light background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.service-box:hover {
  transform: translateY(
    -4px
  ); /* Moves the box upwards to create a floating effect */
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2); /* Increases shadow to enhance the floating effect */
}

.icon-image {
  width: 100px;
  height: 100px;
  object-fit: contain; /* Ensures the image fits within the container without being cut off */
  border-radius: 5px; /* Slightly rounded corners */
  margin-bottom: 10px; /* Adjusted margin for better spacing */
}

.service-info {
  margin-top: 10px;
  text-align: left; /* Align text to the left */
  width: 100%; /* Make the text container take full width */
}

.service-info h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.service-info p {
  margin: 3px 0;
  font-size: 14px;
  color: #555;
}

.outlet-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.outlet-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Set gap between boxes to 10px */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.outlet-box {
  flex: 1 1 200px; /* Adjust width as needed */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  margin-bottom: 10px;
}

/* New layout for screens less than 1258px */
@media (max-width: 1460px) {
  .outlet-box.no-border {
    display: flex;
    flex-direction: row; /* Boxes side by side */
    gap: 10px; /* Space between the boxes */
  }
}

@media (max-width: 850px) {
  .outlet-box.no-border {
    flex-direction: column; /* Stack the boxes vertically again */
  }
}

.outlet-image {
  max-width: 200px; /* Limit max width of image to 300px */
  height: auto;
  border-radius: 4px;
}

.outlet-info-box {
  flex: 1 1 700px; /* Adjust width as needed */
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  margin-bottom: 10px;
}

.outlet-box.no-border {
  border: none; /* Remove border for Created At and Updated At */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.transaction-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
}

.transaction-modal-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.transaction-modal button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.transaction-modal button:hover {
  background: #0056b3;
}

.update-user-box {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  width: 50%; /* Set the width to 50% */
  box-sizing: border-box; /* Ensure padding is included in the width */
  position: relative; /* Add this for positioning close button */
}

.update-user-box form div {
  margin-bottom: 10px;
}

.update-user-box form input {
  width: 100%;
  padding: 8px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.update-user-box form label {
  margin-left: 10px;
}

.update-user-box form button:hover {
  background-color: #0056b3;
}

.update-user-button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.update-user-button:hover {
  background-color: #0056b3;
}
