h2 {
  font-family: "Calibri", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #003366;
  margin-top: 0;
  margin-bottom: 2rem;
}

.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/public/images/laundry-background.jpg");
}

.forgot-password-page form {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 70px 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
}

.logo-container {
  margin-bottom: 20px;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

.form-group input {
  width: 70%;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.875rem;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}

.form-group input::placeholder {
  color: #b0b0b0;
  font-size: 0.875rem;
}

.submit-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  cursor: pointer;
  width: 70%;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 0px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.back-login-container {
  margin-top: 15px; /* Jarak antara form dan tombol Forgot Password */
  text-align: center;
}

.back-login-link {
  background: none;
  border: none;
  color: #007bff;
  text-align: left;
  cursor: pointer;
  font-size: 0.875rem;
}
